body {
  background: #141414fb;
  /* color: #1832c5; */
  margin-top: 75px;
}
.navbar{
  background-color: black;
  border-bottom: rgb(67, 80, 255) solid;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5dbc9;
}

.site-header .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.753);
}

.logo{
  color: #cbd5db;
  font-family: 'Nothing You Could Do', cursive;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-left: 13.5%;
  margin-top: 15em;
}
.image1{
  height: 33em;
  margin-left: 100px;
}
.image2{
  width: 42%;
  /* height: 50%; */
  margin-left: 30%;
  margin-top: 12%;
  border:1px solid rgb(67, 80, 255)
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  
}
.text1{
  margin-left: 100px;
  margin-top: 90px;
  color: rgb(67, 80, 255);
  /* border-color: blue; */
}
.text2{
  margin-top: 40px;
}

.goog1{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 342%;
  color:rgba(255, 98, 0, 0.692);
}
.goog2{
  font-family: 'Lakki Reddy', cursive;
  font-size: 120%;
  color: rgb(21, 255, 79) solid;
}


.goog3{
  font-family: 'Fuggles', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 60%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: rgb(45, 45, 46); */
  color: rgb(58, 61, 255);
  font-size: 252%;
  padding: 12px 24px;
  
  text-align: center;
}
.goog4{
  font-family: 'Fuggles', cursive;
  /* font-family: 'Indie Flower', cursive; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 24%);
  -ms-transform: translate(-50%, -50%);
  width: 35%;
  /* background-color: rgb(45, 45, 46); */
  /* color: rgb(177, 122, 19); */
  font-size: 300%;
  padding: 12px 24px;
  
  text-align: center;
}
.goog5{
  /* font-family: 'Fontdiner Swanky', cursive; */
  font-size: 120%;
  color:rgba(255, 98, 0, 0.692);
  margin-left: 9%;
}

.container1 {
  position: relative;
  width: 100%;
  color: gray;
  /* max-width: 400px; */
}
.container2{
  position: relative;
  width: 100%;
  color: rgba(255, 255, 255, 0.747);
}

.profiles{
  font-family: 'Aldrich', sans-serif;
  color:rgb(67, 80, 255); 
  font-size:250%;

}

.intro{
  font-family: 'Chakra Petch', sans-serif;
}

.main_heading{
  font-family: 'Berkshire Swash', cursive;
  color: orange;
  font-size: 140%;
}



.heading{
  font-family: 'Berkshire Swash', cursive;
  padding-left: 25%;
  color: rgb(67, 80, 255);
  font-size: 125%;
}

.sub_heading_edit_profile{
  font-family: 'Berkshire Swash', cursive;
  color: rgb(67, 80, 255);
  font-size: 115%;
}


.lines{
  /* font-family: 'Flamenco', cursive; */
  /* font-size: 125%; */
  padding-left: 25%;
  padding-right: 25%;
  color: rgb(233, 233, 233);
}
.line{
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-size: 100%;
  color: rgb(233, 233, 233);

}



.horizontal_divider{

  width:50%;
  margin: auto;
  border-top: 1px solid rgb(67, 80, 255)
}



.edit_profile_horizontal_divider{
  width:100%;
  margin: auto;
  border-top: 1px solid rgb(67, 80, 255)
}


.top_profile{
  color: white;
  padding-left: 25%;
  padding-right: 25%;
}

.profile_image_width{
  max-width: 200px;
   max-height:200px;
}

.search{
  padding-left: 27%;
}

.search_text_align{
  font-family: 'Berkshire Swash', cursive;
  color: orange;
  padding-right: 15%;
}



.search_profile_image_width{
  max-width: 120px;
  max-height:120px;
  padding: 1%;
}

.logo_font{
  font-family: 'Nothing You Could Do', cursive;
  color: orange;
  font-size: 140%
}




















/* from here animation section begins for new user in profile-page who just joined but not built profile */

.base {
  width: 500px;
  border-top: 5px solid gray;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 0 0 30px;
}

.holder {
  width: 30px;
  height: 20px;
  background: black;
  margin: auto;
  border-radius: 0 0 50% 50%;
}

.thread {
  display: inline-block;
  width: 2px;
  height: 200px;
  background: black;
  border-radius: 5px;
  position: relative;
  transform-origin: 50% 0;
  animation: moveIt 2.5s ease-in-out infinite;
}

.thread:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  border: 2px solid white;
  top: -4.5px;
  left: -3.5px;
}

.knob {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -18px;
  left: -4.5px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  border-bottom: 2px solid transparent;
}

.pendulum {
   width: 160px;
  background: -moz-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: -webkit-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: -o-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: -ms-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
    border-radius: 10%;
    position: absolute;
    bottom: -37px;
    left: -77px;
    font-size: 20px;
    padding: 10px 20px;
}

.shadow {
  width: 30px;
  height: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 50px auto 0;
  animation: moveShade 1.25s ease-in-out alternate infinite;
}

@keyframes moveIt {
  0%, 100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

@keyframes moveShade {
  0% {
    transform: translateX(-220px) scale(1.4, .5);
    filter: blur(20px);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    transform: translateX(220px) scale(1.4, .5);
    filter: blur(20px);
  }
}


/* till here animation section, for new user in profile-page who just joined but not built profile */











/* .container .btn1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-205%, 60%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(45, 45, 46);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn1:hover {
  background-color: black;
}
.container .btn2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-172%, 190%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(45, 45, 46);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  
}

.container .btn2:hover {
  background-color: black;
} */




/* .parent{
  position:relative;
  top: 0;
  left: 0;
}

.image2{
  margin-left: 1310px; 
  position: absolute;
  margin-top: 250px;
  left: 30px;
  border: 0;
   height: 550px;
  width: auto;
  float: right;
  width: 33.33%;
   padding: 5px;
}  */


