{% extends 'base.html' %}
{% load static %}
{% block content %}



<div  style="color:orange" >

    <div class="container ">
        <img class="founder_image" src="{%static 'images/Satyam_Raj.jpeg' %}" alt="Founder Image"><br>
    </div>
    <br>
    
    <div class=" goog2">
        <span>Satyam Raj</span><br><span>( Founder )</span>


    </div>


    <div class=" goog4" >
        <span> A motivated initiative to bring millions closer to their professional dreams.</span>
    </div>
    


</div>







{% endblock %}