{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center" style="color:orange" >

    <div class="container goog1 pt-5 margin_index1">
        <span> GoT Skills !</span> <br><br>
    </div>
    
    <div>
        <span>Share your potential with friends, colleagues or recruiters, on a platform which is the most convenient to access.</span><br>
        <span>It is as easy as one-step editing your profile, so that you can update your resume whenever you want.</span>
    </div>

    <div class="container pt-5 margin_index2">

        <span class="index_inverted_comma">&#8220;</span> <span class="index_quote">Resume reaches the recruiter’s table much before than you do.</span><span class="index_inverted_comma">"</span> 


    </div>




    <div class="container pt-5 margin_index2">
        <span class="index_so">So,</span>
        <span>Lets make resume which you will be proud to brag about.</span><br>
        <span>Don't worry if you are a beginner, we took care of minimum fields required.</span>
    </div>


</div>























<!-- 
<div class="row">
    <div class="column">
        <div class="text1">
            <p class="goog1">GoT Skills !</p>
                <div class="text2">
                    <p class="goog5">may be experience too!</p>
                    <p class="goog2">Let us present you to the job hunters. <br> Create your 'the best' resume today.</p>
                </div>
        </div>
    </div>
    
    <div class="column">

        <div class="container1">
            <img class="image1" src="{% static 'images/img10.jpg' %}" />
          
            <a class="goog3">Sign-Up Now</a>
        </div>
        
    </div>
  </div> -->
{% endblock %}