{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="row">
    <div class="column">
        <div class="text1">
            <p class="goog1">GoT Skills !</p>
                <div class="text2">
                    <p class="goog5">may be experience too!</p>
                    <p class="goog2">Let us present you to the job hunters. <br> Create your 'the best' resume today.</p>
                </div>
        </div>
    </div>
    
    <div class="column">

        <div class="container1">
            <img class="image1" src="{% static 'images/img10.jpg' %}" />
            <!-- <button class="btn1">Login</button> -->
            <!-- <button class="btn2" >Register</button> -->
            <a class="goog3">Sign-Up Now</a>
        </div>
        
    </div>
  </div>
{% endblock %}