{% extends 'base.html' %}



{% block content %}


<a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>



<div style=" color: white;">
    <div class="box">
        <div class="content">
            <img  src="{{ user.professional.image.url }}" alt="image">
        </div>
        
        <div class="content">
            <p>{{  user.professional.First_Name }}</p>
            <p>{{  user.professional.Last_Name }}</p>
            <p>Age-{{  user.professional.Age }}</p>
            <p>Mobile-{{ user.professional.Mobile_Number }}</p>
            <p>Email-{{  user.professional.Email }}</p>
            <p>Address-{{  user.professional.Address }}</p> 
        </div>
    </div>


    <div>        
        

        <hr  style="width:40%; margin: auto; border-top: 1px solid rgb(67, 80, 255)">

        <br>
        <p style="padding-left: 30%;color: orange;">Introduction:</p>
        <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Introduction }}</p>

        {% if user.professional.Currently_or_was_working_for %}

            <p style="padding-left: 30%;color: orange;">Currently working or was working for:</p>
            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Currently_or_was_working_for }}</p>
        
        
            {% if user.professional.Description %}
                <p style="padding-left: 30%;color: orange;">Description:</p>
                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Description }}</p>

               
            {% endif %}
        {% endif %}
            
        <hr  style="width:40%; margin: auto; border-top: 1px solid rgb(67, 80, 255)">
        <br>

        {% if user.professional.First_Experience %}

            <p style="padding-left: 30%;color: orange;">First Experience:</p>
            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.First_Experience }}</p>

            {% if user.professional.First_Experience_Description %}

                <p style="padding-left: 30%;color: orange;"> Description:</p>
                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.First_Experience_Description }}</p>
            

                {% if user.professional.Second_Experience %}
                    <p style="padding-left: 30%;color: orange;">Second Experience:</p>
                    <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Second_Experience }}</p>
                
                    {% if user.professional.Second_Experience_Description %}

                        <p style="padding-left: 30%;color: orange;">Description:</p>
                        <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Second_Experience_Description }}</p>

                    

                        {% if user.professional.Third_Experience %}
                            <p style="padding-left: 30%;color: orange;">Third Experience:</p>
                            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Third_Experience }}</p>

                            {% if user.professional.Third_Experience_Description %}

                                <p style="padding-left: 30%;color: orange;">Description:</p>
                                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Third_Experience_Description }}</p>
                        

                                {% if user.professional.Fourth_Experience %}

                                    <p style="padding-left: 30%;color: orange;">Fourth Experience:</p>
                                    <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fourth_Experience }}</p>

                                    {% if user.professional.Fourth_Experience_Description %}

                                        <p style="padding-left: 30%;color: orange;">Description:</p>
                                        <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fourth_Experience_Description }}</p>
                                    

                                        {% if user.professional.Fifth_Experience %}

                                            <p style="padding-left: 30%;color: orange;">Fifth Experience:</p>
                                            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fifth_Experience }}</p>

                                            {% if user.professional.Fifth_Experience_Description %}

                                                <p style="padding-left: 30%;color: orange;">Description:</p>
                                                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fifth_Experience_Description }}</p>

                                                
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
            
        
        <hr  style="width:40%; margin: auto; border-top: 1px solid rgb(67, 80, 255)">
        <br>
            

        {% if user.professional.School %}
            <p style="padding-left: 30%;color: orange;">School:</p>
            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.School }}</p>

            {% if user.professional.School_Description %}

                <p style="padding-left: 30%;color: orange;">Description:</p>
                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.School_Description }}</p>
            {% endif %}
        {% endif %}

        {% if user.professional.College %}

            <p style="padding-left: 30%;color: orange;">College:</p>
            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.College }}</p>

            {% if user.professional.College_Description %}

                <p style="padding-left: 30%;color: orange;">Description:</p>
                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.College_Description }}</p>

               
            {% endif %}
        {% endif %}


        <hr  style="width:40%; margin: auto; border-top: 1px solid rgb(67, 80, 255)">
        <br>


        {% if user.professional.First_Skill %}
            <p style="padding-left: 30%;color: orange;">First Skill:</p>
            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.First_Skill }}</p>

            {% if user.professional.Second_Skill %}

                <p style="padding-left: 30%;color: orange;">Second Skill:</p>
                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Second_Skill }}</p>

                    {% if user.professional.Third_Skill %}

                        <p style="padding-left: 30%;color: orange;">Third Skill:</p>
                        <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Third_Skill }}</p>

                            {% if user.professional.Fourth_Skill %}

                                <p style="padding-left: 30%;color: orange;">Fourth Skill:</p>
                                <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fourth_Skill }}</p>

                                {% if user.professional.Fifth_Skill %}

                                    <p style="padding-left: 30%;color: orange;">Fifth Skill:</p>
                                    <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fifth_Skill }}</p>

                                    
                                {% endif %}
                            {% endif %}
                    {% endif %}
            {% endif %}
        {% endif %}
            
        <hr  style="width:40%; margin: auto; border-top: 1px solid rgb(67, 80, 255)">
        <br>
            

        {% if user.professional.Fist_Language %}
            <p style="padding-left: 30%;color: orange;">First Language:</p>
            <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Fist_Language }}</p>

                {% if user.professional.Second_Language %}

                    <p style="padding-left: 30%;color: orange;">Second Language:</p>
                    <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Second_Language }}</p>

                    {% if user.professional.Third_Language %}

                        <p style="padding-left: 30%;color: orange;">Third Language:</p>
                        <p style="padding-left: 30%;padding-right: 30%;" > {{  user.professional.Third_Language }}</p>
                    {% endif %}
                {% endif %}
        {% endif %}
        
    </div>

</div>








{% endblock %}