{% extends 'base.html' %}

{% block content %}





{% for value in query_filter %}
    {% if value.First_Name %}
        <div class="container ">
        <div class=" search">

        <p class="main_heading " > <a href="{% url 'profile_search' value.pk %}"> <img class="search_profile_image_width border border-dark" src="{{ value.image.url }}" alt="image"> <span class="search_text_align"> {{  value.First_Name }} {{  value.Last_Name }}  ({{  value.user }})</span> </a>  </p>

        </div>
        </div>

     
    {% endif %}



{% endfor %}






{%  endblock %}
