{% extends 'base.html' %}

{% block content %}




{% if query_result.First_Name %}

            <div class="d-flex justify-content-center row mx-md-n5 top_profile ">
                <div class="p-2" style=" margin-top: 2%;">
                <img class="profile_image_width" src="{{ query_result.image.url }}" alt="image"> <br> <br>
                
                </div>
                <p class="p-2  px-md-5 intro"> <a style="color:blue;" class="profiles"> {{  query_result.First_Name }} {{  query_result.Last_Name }}</a> <br> {{  query_result.Date_of_Birth }} <br> {{ query_result.Mobile_Number }}<br><span class="container-sm">{{  query_result.Email }} <br> <br> {{  query_result.Address }} <br> </span> </p>
                
                
                
            </div>

            

        <div style=" color: white;">
            

            <div class="container-fluid">        
                

                <hr  class="horizontal_divider">

                <br>
                <p class="main_heading d-flex justify-content-center">Introduction</p>
                <hr class="horizontal_divider">   
                <br>
                <p class="lines" > {{  query_result.Introduction }}</p>

                {% if query_result.Currently_or_was_working_for %}

                    <p class="heading">Recent Job:</p>
                    <p class="lines"> {{  query_result.Currently_or_was_working_for }}</p>
                

                    {% if query_result.Description %}
                        <p class="heading">Description:</p>
                        <p class="lines" > {{  query_result.Description }}</p>

                    {% endif %}

                {% endif %}
                    
                
                <br>

                {% if query_result.First_Experience %}
                    <hr  class="horizontal_divider">
                    <br>
                    <p class="main_heading d-flex justify-content-center">Experience</p>
                    <hr  class="horizontal_divider">
                    <br>
                    <p class="heading">1<sup>st</sup> Experience:</p>
                    <p class="lines" > {{  query_result.First_Experience }}</p>

                    {% if query_result.First_Experience_Description %}

                        <p class="heading"> Description:</p>
                        <p class="lines"> {{  query_result.First_Experience_Description }}</p>
                    

                        {% if query_result.Second_Experience %}
                            <p class="heading">2<sup>nd</sup> Experience:</p>
                            <p class="lines"> {{  query_result.Second_Experience }}</p>
                        
                            {% if query_result.Second_Experience_Description %}

                                <p class="heading">Description:</p>
                                <p class="lines"> {{  query_result.Second_Experience_Description }}</p>

                            

                                {% if query_result.Third_Experience %}
                                    <p class="heading">3<sup>rd</sup> Experience:</p>
                                    <p class="lines" > {{  query_result.Third_Experience }}</p>

                                    {% if query_result.Third_Experience_Description %}

                                        <p class="heading">Description:</p>
                                        <p class="lines" > {{  query_result.Third_Experience_Description }}</p>
                                

                                        {% if query_result.Fourth_Experience %}

                                            <p class="heading">4<sup>th</sup> Experience:</p>
                                            <p class="lines" > {{  query_result.Fourth_Experience }}</p>

                                            {% if query_result.Fourth_Experience_Description %}

                                                <p class="heading">Description:</p>
                                                <p class="lines" > {{  query_result.Fourth_Experience_Description }}</p>
                                            

                                                {% if query_result.Fifth_Experience %}

                                                    <p class="heading">5<sup>th</sup> Experience:</p>
                                                    <p class="lines" > {{  query_result.Fifth_Experience }}</p>

                                                    {% if query_result.Fifth_Experience_Description %}

                                                        <p class="heading">Description:</p>
                                                        <p class="lines" > {{  query_result.Fifth_Experience_Description }}</p>

                                                        
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                    
                
                <br>
                    

                {% if query_result.School %}
                    <hr  class="horizontal_divider">
                    <br>
                    <p class="main_heading d-flex justify-content-center">Education</p>
                    <hr  class="horizontal_divider">
                    <br>
                    <p class="heading">School:</p>
                    <p class="lines" > {{  query_result.School }}</p>

                    {% if query_result.School_Description %}

                        <p class="heading">Description:</p>
                        <p class="lines" > {{  query_result.School_Description }}</p>
                    {% endif %}
                {% endif %}

                {% if query_result.College %}

                    <p class="heading">College:</p>
                    <p class="lines" > {{  query_result.College }}</p>

                    {% if query_result.College_Description %}

                        <p class="heading">Description:</p>
                        <p class="lines" > {{  query_result.College_Description }}</p>

                    
                    {% endif %}
                {% endif %}


                <br>


                {% if query_result.First_Skill %}
                    <hr  class="horizontal_divider">
                    <br>
                    <p class="main_heading d-flex justify-content-center">Skills</p>
                    <hr  class="horizontal_divider">
                    <br>

                    <p> <span class="heading"> 1<sup>st</sup>  Skill:</span> <span class="line">{{  query_result.First_Skill }}</span> </p>

                    {% if query_result.Second_Skill %}

                        <p> <span class="heading"> 2<sup>nd</sup> Skill:</span> <span class="line">{{  query_result.Second_Skill }}</span> </p>


                            {% if query_result.Third_Skill %}

                                <p> <span class="heading"> 3<sup>rd</sup> Skill:</span> <span class="line">{{  query_result.Third_Skill }}</span> </p>


                                    {% if query_result.Fourth_Skill %}

                                        <p> <span class="heading"> 4<sup>th</sup> Skill:</span> <span class="line">{{  query_result.Fourth_Skill }}</span> </p>


                                        {% if query_result.Fifth_Skill %}

                                            <p> <span class="heading"> 5<sup>th</sup> Skill:</span> <span class="line">{{  query_result.Fifth_Skill }}</span> </p>

                                            
                                            
                                        {% endif %}
                                    {% endif %}
                            {% endif %}
                    {% endif %}
                {% endif %}
                    
                <br>
                    

                {% if query_result.Fist_Language %}
                    <hr  class="horizontal_divider">
                    <br>
                    <p class="main_heading d-flex justify-content-center">Languages</p>
                    <hr  class="horizontal_divider">
                    <p> <span class="heading"> 1<sup>st</sup> Language:</span> <span class="line">{{  query_result.Fist_Language }}</span> </p>

                        {% if query_result.Second_Language %}
                            <p> <span class="heading"> 2<sup>nd</sup> Language:</span> <span class="line">{{  query_result.Second_Language }}</span> </p>
                            

                            {% if query_result.Third_Language %}

                                <p> <span class="heading"> 3<sup>rd</sup> Language:</span> <span class="line">{{  query_result.Third_Language }}</span> </p>
                                
                            {% endif %}
                        {% endif %}
                {% endif %}
                
            </div>

        </div>

{% elif query_result|length < 1 %}


<!-- <p class="heading"> Please Build Your Best Profile</p> -->

<p class="main_heading d-flex justify-content-center">Profile does not exist.</p>


{% else %}


<p class="main_heading d-flex justify-content-center">Profile does not exist.</p>



 

{% endif %}



{%  endblock %}
